<h1>Buzz Attractions</h1>
<h4>最近話題の観光地の情報検索、自分が行った観光地の情報をみんなで共有するサイト​</h4>
<table class="table">
  <thead>
    <tr>
      <th>画像</th>
      <th>観光地名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @post_images.each do |post_image| %>
      <tr>
        <td>
          <%= link_to post_image_path(post_image.id) do %>
            <%= image_tag post_image.get_image(100,100) %>
          <% end %>
        </td>
        <td><%= post_image.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  
</div>
